html body{
    background-image: url(../img/wp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*BARRE DE NAVIGATION*/
body .navbar-default{
    background-color:darkcyan;
    border-color: darkslategrey;
    border-radius: 0;
}
body .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin: 0;
}
body .navbar-default .navbar-brand{
    color: white;
}
body .navbar-default .navbar-nav>li>a{
    color: white;
}
body .navbar-default .navbar-nav>li>a:hover{
    background-color:crimson;
    color: white;
}
body .navbar-default a.navbar-brand:hover{
    color: white;
    background-color: crimson;
}
/* FIN BARRE DE NAVIGATION*/
/*CADRE WRAPPER*/
.wrapper{
    margin-top: 50px;
    height: 350px;
    border-radius: 5px;
    background-color:darkcyan;
    padding: 15px 50px 25px;
    color: white;
    border-top: 6px solid darkcyan;
    /*animation fenetre*/
    transition: all .3s ease-in;
} 
.wrapper:hover{
    border-top: 6px solid CRIMSON;
    /*Animation formulaire*/
    transition: all .9s ease-in-out;
}
.wrapper h3{
    font-weight: bold;
    font-family: "arial black",;
}
html body form .btn-primary{
    background-color: crimson;
    border-color: white;
    margin-top: 20px;
}
body form label{
    margin-bottom: 10px;
}

.no-compte{
    color: white;
    text-decoration: none;
    padding-top: 15px;
}
.no-compte>a{
    text-decoration: none;
    color: white;
}
.no-compte a:hover{
    text-decoration:underline;
    color: crimson;
    border-bottom: 1px solid white;
}
.btn-primary{
    margin-top: 20px;
}
html body form .btn-primary:hover{
    border-color: white;
    background-color: darkcyan;
}
.form-control{
    border:2px solid white;
}
.form-control:hover{
    border:1px solid red;
}
/*FIN CADRE WRAPPER */